.glow {
    font-size: 15px;
    color: rgb(158, 227, 255);
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
    border:white;
  }
  
  @-webkit-keyframes glow {
    from {
      box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fabada, 0 0 40px #ff83c1, 0 0 50px #ff3a9c, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    to {
      box-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #cc8dad, 0 0 50px #fc8cc4, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }